button {
  background: #091f2d;
  color: white;

  font-size: 14px;
  border: none;
  border-radius: 4px;
  height: 40px;
  padding: 0 16px;
  max-height: 40px;
}

button:hover {
  background: #153b53;
  cursor: pointer;
}

button:focus {
  box-shadow: 0 0 4px 1px #43515a;
}
